@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    margin: 0px;
}
#navbar {
    list-style-type: none;
    background: #2b2b2c;
    margin: 0 0 0 0;
    padding: 0;
    align-items: center;
    display: flex;
}

#navbar > li {
    display: inline-block;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    color: white;
    font-family: Montserrat;
}

#navbar > li:hover {
    color: #ffaacb

}


.logo {
    font-family: Pacifico, cursive;
    margin-bottom: 0px;
    margin-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 15px;
    font-size: 27px;
    color: #FFFFFF;
    display: block;
}

li.logoList {
    margin: 0px;
    padding: 0px;
}

h1.HomeHeader {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #000000
}

p.title {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 0px;
}

section {
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

div.LeftTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.CenteredLeftAlignedText {
    display: inline-block;
    text-align: left;
    max-width: 450px;
}

.HomeRow {
    display:flex;
    max-height: 470px;
}

.HomeColumn {
    flex: 50%;
    min-height: 100%;
}

.mySkills {
    padding-top: 30px;
}

section.mySkills {
    /* height: 430px; */
    background-color: rgb(224, 224, 224);
}

.SkillsTitle {
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
}

.flexContainer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: Montserrat;
    padding-top: 50px;
}

.flexContainer img {
    width: 20%;
}

.flexElement {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
}

.flexElement h3 {
    font-size: 18px;
}

.flexElement p {
    font-size: 14px;
}

.myWork {
    padding-top: 30px;
    padding-bottom: 30px;
}

.myWork h3 {
    font-family: Montserrat;
    font-size: 13px;
    text-decoration: underline;
    color:#3B36A6;
    font-weight: 500;
    text-align: center;
}

.workGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 200px;
    margin-right: 200px;
    column-gap: 25px;
    row-gap: 35px;
    padding-bottom: 25px;
}

.workGrid h4 {
    font-family: Montserrat;
    font-size: 18px;
}

.workGrid p {
    font-family: Montserrat;
    font-size: 14px;
}

.workGrid button {
    border-radius: 2em;
    margin-top: 20px;
    padding: 10px;
    font-family: Montserrat;
    font-weight: 500;
    background: #3B36A6;
    border: none;
    font-size: 11px;
    color: white;
}

.ImgColumn {
    overflow: hidden;
    min-width: 50%;
}

img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%
}

button {
    border-radius: 2em;
    margin-top: 40px;
    padding: 15px;
    font-family: Montserrat;
    font-weight: 500;
    background: #3B36A6;
    border: none;
    font-size: 13px;
    color: white;
}

footer {
    background: #2b2b2c;
    padding: 20px;
    text-align: center;
}

.footer > li {
    display: inline-block;
    font-family: Montserrat;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    font-size: 11px;
}

.footerHeading{
    font-family: Montserrat;
    font-size: 20px;
    color: white;
}

ul {
    padding: 0px;
}

.ConnectHome {
    font-size: 16px;
    color: white;
    justify-content: center;
    font-family: Montserrat;
}

.social > li{
    display: inline-block;
    color: white;
    font-size: 11px;
    font-family: Montserrat;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (max-width: 600px) {
    .flexContainer {
        flex-flow: column;
    }

    .workGrid {
        grid-template-columns: 1fr;
        margin: 0;
        text-align: center;
    }
}

